@font-face {
    font-family: "Montserrat";
    src: url(../font/Montserrat-VariableFont_wght.ttf);
  }
  
  body {
    font-family: Poppins, sans-serif;
    background-color: #d3e1eb;
    margin: 0;
    padding: 0;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    margin: 1%;
  }
  
  .logo {
    height: 10%;
    width: 10%;
  }
  
  .circulo,
  .circulo-salir, .button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .circulo {
    width: 81px;
    height: 79px;
    background: #7770C5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 9999px;
  }
  
  .icono-usuario {
    max-width: 60%;
    max-height: 60%;
  }
  
  .circulo-salir {
    width: 80px;
    height: 80px;
    background: #F5F5F5;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.75);
    border-radius: 9999px;
    border: 1px #7AB3D7 solid;
  }
  
  .icono-salir {
    width: 24px;
    height: 29px;
  }
  /*inicio*/
.flecha {
    max-width: 60%;
    max-height: 60%;
  }
  
  .titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  .buttonatras{
    width: 51px;
    height: 49px;
    background: #7770C5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    margin: 1%;
  }
  
  h1 {
    text-align: center;
    color: #0F0559;
  }
  /*calendario*/
  .button {
    padding: 4px 10px;
    transition: background-color 0.3s ease;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    background-color: #7770C5;
    color: #fff;
    font-size: 15px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 10px;
  } 
  .cancelarbutton {
    background-color: #f2f2f2;
    color: #0F0559;
    border: 2px solid #7AB3D7;
    padding: 4px 10px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    margin-top: 10px;
  }
  #popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #DEDBF6;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    z-index: 100;
    width: 20%;
  }
  #popup form {
    display: flex;
    flex-direction: column;
  }
  #calendario {
    max-width: 80%;
    max-height: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
    margin-left: 10%;
  }
  .dia {
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    text-align: center;
  }
  .dia button {
    margin-top: 10px;
  }
  .bordecalendario{
    padding: 2%;
    height: 80%;
    width: auto;
    background-color: #ffffff;
  }
  .fc-toolbar-title {
    /* ponemos el texto en mayusculas */
    text-transform: capitalize;
  }
  .fc .fc-button {
    background-color: #6e68b4 !important;
    color: white !important;
    border: none !important;
    border-radius: 5px !important;
  }
  
  .fc .fc-button:hover {
    background-color: #564EB5 !important; 
  }
  
  .fc .fc-button.fc-today-button {
    background-color: #9b3b3b !important; 
  }
  
  .fc .fc-button.fc-today-button:hover {
    background-color: #a74b4b !important; 
  }
/* footer */
footer {
    background-color: #7770C5;
    padding: 4%;
    text-align: center;
  }  