/* General Styles */
@font-face {
    font-family: "Montserrat";
    src: url(../font/Montserrat-VariableFont_wght.ttf);
}

:root {
    --color-primary: #7770C5;
    --color-secondary: #7AB3D7;
    --color-text-primary: #D67272;
    --color-text-secondary: #DEDBF6;
    --color-background: #F3F3F3;
    --color-hover: #ddd;
    --transition-duration: .3s;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

section {
    padding: 2rem 9%;
}

/* Header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
}

.header .logo {
    font-size: 3rem;
    color: #333;
    font-weight: bolder;
}

.logo img {
    height: 70px;
}

/* Navigation */
.nav {
    display: flex;
    align-items: center;
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 80px; /* Mayor separación entre los elementos */
}

.nav li {
    display: inline-block;
}

.nav a {
    font-size: 2rem;
    text-decoration: none;
    color: #666;
    font-weight: bold;
    transition: color var(--transition-duration);
    padding: 10px 20px; /* Asegura una buena separación */
    display: block;
}

.nav a:hover {
    color: var(--color-primary);
}

/* Icons */
.icons {
    display: flex;
    gap: 15px;
}

.icons button {
    padding: 10px;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: none;
}

.icons button img {
    height: 30px;
}

/* Language Button */
.icons .fa-idioma {
    background-color: var(--color-primary);
    border: 2px solid var(--color-secondary);
    color: #fff;
}

.icons .fa-idioma:hover {
    background-color: #564EB5;
    border-color: #3468A3;
}

/* User Button */
.icons .fa-user {
    background-color: #f2f2f2;
    border: 2px solid var(--color-secondary);
    color: #0F0559;
}

.icons .fa-user:hover {
    background-color: var(--color-hover);
    border-color: #3468A3;
}

/* Responsive */
.header #toggler {
    display: none;
}

.header .fa-bars {
    font-size: 3rem;
    color: #333;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    border: .1rem solid rgba(0, 0, 0, 0.2);
    display: none;
}

/* Responsive Menu */
@media (max-width: 768px) {
    .header .fa-bars {
        display: block;
    }

    .header .nav {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #eee;
        border-top: .1rem solid rgba(0, 0, 0, 0.2);
        flex-direction: column;
        gap: 0;
        display: none;
    }

    .header #toggler:checked ~ .nav {
        display: flex;
    }

    .header .nav ul {
        flex-direction: column;
        width: 100%;
        text-align: center;
        gap: 20px; /* Espaciado adecuado en versión móvil */
    }

    .header .nav a {
        display: block;
        padding: 1.5rem;
        background: #fff;
        border-bottom: .1rem solid rgba(0, 0, 0, 0.2);
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }
}

/* Form Container */
.form-container {
    background-color: #D3E1EB;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px 80px;
    max-width: 800px;
    margin: 20px auto;
    border: 2px solid #7AB3D7;
}
p{
    font-size: 30px;
}
.titulo{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
.titulo img{
    width:10%;
    margin-left: 32%;
    margin-bottom: -5%;
}
h2 {
    padding: 1%;
    background-color: #3468A3;
    color: #fff;
    text-align: center;
    width: 20%;
}

#terminos {
    margin-right: 2%;
}

.form-group {
    position: relative;
    margin-bottom: 15px;
}
.condiciones{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 50px;
    font-size: 14px;
}

.form-group input.error,
.form-group textarea.error {
    border: 2px solid red;
    background-color: #ffe6e6;
}

.error-message {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
}

.valido img,
.invalido img {
    width: 20px; 
    height: 20px; 
    vertical-align: middle; 
}

.form-actions {
    display: flex;
    margin-top: 20px;
    justify-content:center;
}
.form-actions button{
    margin: 3%;
}

.btn-cancel {
    background-color: #f2f2f2;
    color: #0F0559;
    border: 2px solid #7AB3D7;
    padding: 10px 35px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}
.btn-cancel:hover {
    border-color: #3468A3;
}
.btn-submit {
    transition: background-color 0.3s ease;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    background-color: #7AB3D7;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
.btn-submit:hover {
    background-color: #488aaf; 
}
.negrita{
    font-weight: bold;
}
/*footer*/
footer {
    background-color: #7770C5;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
  }

  .footer-container {
    display: flex;
    align-items: stretch;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 20px;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-section h3 {
    margin-bottom: 10px;
    color: #ffffff;
  }

  .footer-section ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-section ul li {
    margin: 5px 0;
  }

  .footer-section a {
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s;
  }
  .footer-section{
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }

  .social-icons {
    display: flex;
    gap: 15px;
  }

  .social-icons a img{
    width: 40px;
  }
  .error-message {
    color: red;
    font-size: 0.9em;
    display: none; /* Ocultar por defecto */
}
/* Estilos para el modal */
.modal {
    display: none; /* Ocultar por defecto */
    position: fixed; /* Posición fija */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro semitransparente */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    z-index: 1000; /* Asegurar que esté por encima de otros elementos */
}

.modal-contenido {
    background-color: white; /* Fondo del mensaje */
    padding: 20px;
    border-radius: 10px; /* Bordes redondeados */
    text-align: center; /* Texto centrado */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
    font-size: 1.5em; /* Tamaño del texto */
    color: #333; /* Color del texto */
}

/* Animación para aparecer suavemente */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.modal.mostrar {
    display: flex; /* Mostrar el modal */
    animation: fadeIn 0.3s ease-in-out; /* Animación de aparición */
}

