/* General Styles */
@font-face {
    font-family: "Montserrat";
    src: url(../font/Montserrat-VariableFont_wght.ttf);
}
:root{
    --color-primary: #7770C5;
    --color-secondary: #7AB3D7;
    --color-text-primary: #D67272;
    --color-text-secondary: #DEDBF6;
    --color-background: #F3F3F3;
    --color-hover: #ddd;
    --transition-duration:.3s;
}
/* nav */
body {
    font-family: "Montserrat";
    background-color: #fff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

section{
    padding: 2rem 9%;
}
.informacion{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: #333;
    color: #fff;
    padding: .9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}

.informacion:hover{
    background: var(--color-primary);
}
.header {
    position: fixed;
    top: 0; left:0; right:0;
    background:#fff;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
}

.header .logo{
    font-size: 3rem;
    color: #333;
    font-weight: bolder;  
}

.header .nav a{
    font-size: 2rem;
    padding:0 1.5rem;
    color: #666;
}

.header .nav a:hover{
    color: var(--color-primary);
}
.header .icons img{
    font-size: 2rem;
    padding:0 1.5rem;
    color: #666;
}
.header .icons img:hover{
    color: var(--color-primary);
}

.header #toggler{
    display: none;
}
.header .fa-bars{
    font-size:3rem ;
    color: #333;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    border: .1rem solid rgba(0, 0, 0, 0.2);
    display: none;
}
.logo img {
    font-size: 2.5rem;
    color: #333;
    margin-left: 1.5rem;

}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 60px; 
    justify-content: center;
    align-items: center;
}

.home {
    display: flex;
    align-items: center;
    justify-content: center; /* Centrar el contenido horizontalmente */
    min-height: 100vh;
    background: url(../img/fondo-pequeArte.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Fondo oscuro semi-transparente */
    z-index: 1;
}

.home .content {
    max-width: 50rem;
    text-align: center;
    position: relative;
    z-index: 2; /* Asegura que el texto esté sobre el fondo oscuro */
    padding: 2rem;
    background: rgba(255, 255, 255, 0.1); /* Fondo semi-transparente para el texto */
    border-radius: 10px;
    backdrop-filter: blur(5px); /* Efecto de desenfoque */
}

.home .content h3 {
    font-size: 5rem;
    color: #fff; /* Texto blanco */
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra para resaltar */
    margin-bottom: 1rem;
}

.home .content span {
    font-size: 2.5rem;
    color: var(--color-primary);
    font-weight: 600;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Sombra para resaltar */
    display: block;
    margin-bottom: 1rem;
}

.home .content p {
    font-size: 1.8rem;
    color: #fff; /* Texto blanco */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Sombra para resaltar */
    line-height: 1.6;
    margin-bottom: 2rem;
}

.home .informacion {
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: var(--color-primary);
    color: #fff;
    padding: 1rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
    border: none;
    transition: background-color var(--transition-duration);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Sombra para resaltar */
}

.home .informacion:hover {
    background: #564EB5; /* Cambio de color al hacer hover */
}

/* home */
/* Estilos para la sección .welcome */
.welcome {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #DEDBF6;
    padding: 0 50px;
    height: 691px;
    position: relative;
    overflow: hidden; /* Para evitar desbordamientos */
    padding-right: 0px;
}

/* Estilos para el contenido de texto */
.welcome .content {
    max-width: 50%;
    animation: fadeInLeft 1s ease-out; /* Animación para el texto */
}

.welcome h1 {
    color: #212529;
    font-size: 48px;
    text-align: left;
    margin-bottom: 20px;
    animation: fadeInLeft 1.5s ease-out; /* Animación para el título */
}

.welcome p {
    color: #212529;
    font-size: 24px;
    text-align: left;
    margin-bottom: 30px;
    animation: fadeInLeft 2s ease-out; /* Animación para el párrafo */
}

/* Estilos para la imagen */
.welcome .image-container {
    width: 50%;
    height: 80rem;
    background: url('../img/fondo-pequeArte.jpg') no-repeat center center/cover;
    border-radius: 20px 0 0 20px;
    animation: fadeInRight 1.5s ease-out; /* Animación para la imagen */
}

/* Estilos para el botón */
.informacion {
    background-color: #7770C5;
    border: none;
    color: white;
    border-radius: 32px;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
    animation: fadeInUp 2.5s ease-out; /* Animación para el botón */
}

.informacion:hover {
    background-color: #5e56a1;
}

.informacion:active {
    background-color: #4a4485;
    transform: scale(0.95);
}

/* Animaciones */
@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/* Sección Sobre Nosotros */
.about {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 300px;
    max-width: 1200px;
    margin: 100px auto;
}

/* Imagen a la izquierda */
.about img {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 25px;
}

/* Contenedor de texto alineado a la derecha */
.about-content {
    max-width: 600px;
    text-align: left;
}

.about h2 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #212529;
}

.about p {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #212529;
}

/* Botón Ver Más */
.verMas {
    background-color: #7AB3D7;
    color: white;
    border-radius: 32px;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.verMas:hover {
    background-color: #47a8d8;
}

.verMas:active {
    background-color: #446d85;
    transform: scale(0.95);
}

.hidden {
    display: none;
    margin-top: 20px;
    font-size: 1.2rem;
    color: #444;
}

/* Responsividad para pantallas pequeñas */
@media (max-width: 768px) {
    .about {
        flex-direction: column;
        text-align: center;
    }

    .about-content {
        text-align: center;
    }
}
/* seccion de actividades */
.actividad-content {
    background-color: #BBB7E5;
    /* opacity: 80%; */
    padding: 20px;
}

h1{
    font-family: "Montserrat";
    font-size: 3rem;
    margin-bottom: 20px;
    color: #212529;
    text-align: center;
}
.actividades {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
    gap: 20px; 
    max-width: 1500px;
    margin: 100px auto;
}
.unidad {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    flex-basis: 40%; 
    margin-bottom: 20px;
}
.unidad img {
    width: 120px; 
    height: auto; 
    flex-shrink: 0; 
}
.text {
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    flex-grow: 1; 
}
.unidad h2 {
    font-size: 1.5rem;
    margin: 0 0 10px;
}
.unidad p {
    font-size: 1rem;
}

/* Responsive para pantallas pequeñas */
@media (max-width: 768px) {
    .unidad {
        flex-direction: column; 
        align-items: center;
    }

    .unidad img {
        width: 100px; 
    }
}
/* Sección monitores */
.monitores {
    text-align: center;
    padding: 20px;
    background-color: #f8f9fa;
    display: flex;
    flex-wrap: wrap;  
    justify-content: center; 
    gap: 50px; 
}

.monitores h1 {
    width: 100%;
    font-size: 56px;
    margin-bottom: 20px;
    color: #333;
}

.monitor {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 15px;
    width: 300px; 
    height: 500px;
    transition: transform 0.3s ease-in-out;
}

.monitor:hover {
    transform: scale(1.05);
}

.monitor img {
    padding-top: 30px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.monitor-info {
    text-align: center;
    margin-top: 10px;
}

.monitor-info h2 {
    margin: 10px;
    font-size: 2.1rem;
    color: #D67272;
}

.monitor-info p {
    margin: 5px 0 0;
    font-size: 1.2rem;
    color: #555;
    padding: 20px;
}


/* Diseño responsivo */
@media (max-width: 768px) {
    .monitores {
        flex-direction: column;
        align-items: center;
    }
}
.seccion-info-extra {
    background-color: #B0CFF1;
    padding: 100px;
    display: flex;
    flex-wrap: wrap;  
    justify-content: center; 
    gap: 50px; /* Reducido para mejor ajuste */
}

.seccion-info-extra div {
    display: flex; 
    align-items: center; 
    gap: 20px; 
    max-width: 300px; 
    text-align: left; 
}

.seccion-info-extra img {
    width: 80px; 
    height: auto; 
    flex-shrink: 0; 
    object-fit: cover;
}

.seccion-info-extra .info-text {
    display: flex;
    flex-direction: column; 
}

.seccion-info-extra h2 {
    font-size: 1.5rem;
    margin: 0;
}

.seccion-info-extra p {
    margin: 1px 0 0; 
    font-size: 1rem;
}

/* Estilos Responsivos */
@media (max-width: 768px) { 
    .seccion-info-extra {
        padding: 50px; /* Menos padding en pantallas pequeñas */
        gap: 30px; /* Menos espacio entre elementos */
    }
    
    .seccion-info-extra div {
        flex-direction: column; /* Apilar elementos en pantallas pequeñas */
        align-items: center;
        text-align: center;
    }
    
    .seccion-info-extra img {
        width: 60px; /* Imágenes más pequeñas */
    }

    .seccion-info-extra h2 {
        font-size: 1.3rem;
    }

    .seccion-info-extra p {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) { 
    .seccion-info-extra {
        padding: 30px;
        gap: 20px;
    }

    .seccion-info-extra img {
        width: 50px;
    }

    .seccion-info-extra h2 {
        font-size: 1.2rem;
    }

    .seccion-info-extra p {
        font-size: 0.8rem;
    }
}

/*socios*/
.socios {
    text-align: center;
    padding: 20px;
    background-color: #f9f9f9;
}

.socios h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

.socios p {
    font-size: 1.2em;
    color: #555;
}

.socios div {
    display: flex;
    align-items: center;
    background: #DEDBF6;
    margin: 20px auto;
    padding: 35px;
    border-radius: 50px;
    /* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); */
    max-width: 800px;
    gap: 20px;
}

.socios div img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50px;
    margin-right: 20px;
}

.socios div .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinea h2 y p al inicio */
    flex: 1;
    /* text-align: center */
}

.socios div h2 {
    font-size: 1.5em;
    margin-bottom: 5px;
}

.socios div p {
    font-size: 0.9em;
    color: #666;
}

.socios div hr {
    width: 100%;
    border: 0.5px solid #6d6d6d;
    margin: 5px 0;
}

.reserva {
    text-align: left;
}

.reserva-btn, .reserva-btn1, .reserva-btn2, .reserva-btn3 {
    background-color: #6A0DAD; /* Morado */
    color: var(--color-text-primary);
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background 0.3s;
}

.reserva-btn:hover, .reserva-btn1:hover, .reserva-btn2:hover, .reserva-btn3:hover {
    background-color: #5A0B8E; /* Morado más oscuro al pasar el mouse */
}

a{
    font-weight: bold;
}
/* Galería de imágenes */
.imagenes {
    background-color: rgba(187, 183, 229, 1); /* Fondo semi-transparente */
    margin: 0;
    padding: 20px 0; /* Espaciado superior e inferior */
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    min-height: 100vh; /* Asegurar que ocupe toda la altura de la pantalla */
}

#galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas */
    gap: 10px; /* Espacio entre imágenes */
    max-width: 900px; /* Ancho máximo de la galería */
    width: 100%; /* Asegurar que ocupe el ancho disponible */
    padding: 0 10px; /* Espaciado lateral */
}

#galeria img {
    width: 100%; /* Ajustar al ancho del contenedor */
    height: 200px; /* Altura fija para las imágenes */
    border-radius: 10px; /* Bordes redondeados */
    cursor: pointer;
    object-fit: cover; /* Asegurar que la imagen cubra el espacio */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Efecto hover */
}

#galeria img:hover {
    transform: scale(1.05); /* Efecto de zoom al pasar el cursor */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* Sombra al pasar el cursor */
}

/* Contenedor de la galería activa */
#contenedor-galeria {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8); /* Fondo oscuro semi-transparente */
    display: none; /* Ocultar por defecto */
}

.contenedor-interno {
    max-width: 90%; /* Ancho máximo del contenedor */
    width: 800px; /* Ancho fijo */
    height: auto; /* Altura automática */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#img-activa {
    max-width: 100%; /* Ajustar al ancho del contenedor */
    max-height: 80vh; /* Altura máxima */
    border-radius: 10px; /* Bordes redondeados */
}

/* Botones de navegación */
button {
    cursor: pointer;
    background: transparent;
    border: none;
    color: #f3f3f3;
    font-size: 2rem;
    transition: color 0.3s ease; /* Efecto hover */
}

#btn-cerrar {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 2.5rem;
}

#btn-retroceder {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%); /* Centrar verticalmente */
    font-size: 2.5rem;
}

#btn-adelantar {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%); /* Centrar verticalmente */
    font-size: 2.5rem;
}

footer {
    background-color: #7770C5;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
  }

  .footer-container {
    display: flex;
    align-items: stretch;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 20px;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-section h3 {
    margin-bottom: 10px;
    color: #ffffff;
  }

  .footer-section ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-section ul li {
    margin: 5px 0;
  }

  .footer-section a {
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s;
  }
  .footer-section{
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }

  .social-icons {
    display: flex;
    gap: 15px;
  }

  .social-icons a img{
    width: 40px;
  }
/* Responsividad para pantallas pequeñas */
@media (max-width: 991px){
    html{
        font-size: 55%;
    }
    .header{
        padding: 2rem
    }
    section{
        padding: 2rem;
    }
    .home{
        background-position: left;
    }
}

@media (max-width: 768px) {
   .header .fa-bars{
     display: block;
   }
   .header .nav{
        position: absolute;
        top: 100%; left: 0; right: 0;
        background: #eee;
        border-top: .1rem solid rgba(0, 0, 0, 0.2);
   }
   .header #toggler:checked ~ .nav{
    clip-path:polygon(0 0, 100% 0, 100% 100%, 0% 100%) ;
   }
   .header .nav a{
     margin: 1.5rem;
     padding: 1.5rem;
     background: #fff;
     border: .1.5rem solid rgba(0, 0, 0, 0.2);
     display: block;
   }
}
 @media(max-width:450px) {
    html{
        font-size: 50%;
    }
 }


.logo img {
    height: 70px;
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 60px; 
    justify-content: center;
    align-items: center;
}

.nav li {
    display: inline;
}

.nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
/* Estilos generales para los botones */
.icons {
    display: flex;
    gap: 10px; /* Espacio entre los botones */
}

.icons button {
    padding: 10px;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons button img {
    height: 30px;
}

/* Estilos específicos para el botón de idioma */
.icons .fa-idioma {
    background-color: #7770C5;
    border: 2px solid #7AB3D7;
    color: #fff;
}

.icons .fa-idioma:hover {
    background-color: #564EB5;
    border-color: #3468A3;
}

/* Estilos específicos para el botón de usuario */
.icons .fa-user {
    background-color: #f2f2f2;
    border: 2px solid #7AB3D7;
    color: #0F0559;
}

.icons .fa-user:hover {
    background-color: #ddd;
    border-color: #3468A3;
}
/* Animación de rebote */
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}
/* Estilos para la sección CTA */
#cta {
    background-color: var(--color-primary);
    padding: 4rem 2rem;
    text-align: center;
    color: white;
    position: relative;
    overflow: hidden;
}

#cta .cta-content {
    max-width: 800px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

#cta p {
    font-size: 2rem;
    margin-bottom: 2rem;
    line-height: 1.6;
}

/* Animación de fondo */
@keyframes moveBackground {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

#cta::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 25%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.1) 75%);
    animation: moveBackground 10s linear infinite;
    z-index: 0;
}

/* Estilos para el botón "¡Hablemos!" */
#cta button {
    background-color: white;
    color: var(--color-primary);
    border: none;
    padding: 1.5rem 3rem;
    font-size: 2rem;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color var(--transition-duration), transform var(--transition-duration);
    position: relative;
    overflow: hidden;
    z-index: 1;
}

#cta button::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
    transform: translate(-50%, -50%) scale(0);
    transition: transform var(--transition-duration);
    z-index: -1;
}

#cta button:hover {
    background-color: var(--color-secondary);
    color: white;
    transform: scale(1.1);
}

#cta button:hover::before {
    transform: translate(-50%, -50%) scale(1);
}

/* Animación de rebote */
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-15px);
    }
    60% {
        transform: translateY(-7px);
    }
}

#cta button {
    animation: bounce 2s infinite;
}

#cta button:hover {
    animation: none;
}