/* Reset básico */
body, html {
    text-align: center;
}

.main-container {
    width: 100%;
    max-width: 1438px;
    margin: 0 auto;
    padding: 20px;
}

.gestionar-actividades {
    margin: 10px auto;
    padding: 20px;
    background-color:  #7AB3D7;
    border-radius: 20px;
    width: 90%;
    max-width: 1000px;
}

select, textarea {
    width: 100%;
    max-width: 800px;
    margin: 10px 0;
    padding: 15px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
}

.buttonreporte, .cancelar-btn, .reportar-btn{
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 32px;
    cursor: pointer;
    transition: all 0.1s ease;
    position: relative;
    margin-top: 20px;
  
}

.reportar-btn {
    background-color: #7770C5;
}

.cancelar-btn {
    background-color: #F5F5F5;
    color: #0F0559;
}

.cancelar-btn:hover, .reportar-btn:hover{
    transform: scale(1.2);
    transition-duration: 0.3s;
}

@media (max-width: 768px) {
    .circulo, .circulo-salir {
        width: 50px;
        height: 50px;
    }
    .logo {
        width: 100px;
    }
    h1 {
        font-size: 1.5rem;
    }
    .gestionar-actividades {
        width: 95%;
        padding: 15px;
    }
}

@media (max-width: 480px) {
    .circulo, .circulo-salir {
        width: 40px;
        height: 40px;
    }
    .logo {
        width: 80px;
    }
    h1 {
        font-size: 1.2rem;
    }
    .gestionar-actividades {
        width: 100%;
        padding: 10px;
    }
}
