



/* Tablets (max-width: 768px) */
@media screen and (max-width: 768px) {
    .logo img {
        height: 50px;
    }

    .intro {
        text-align: center;
        height: 80%;
    }

    .intro-image img {
        height: auto;
    }

    .intro-text h1 {
        font-size: 24px;
    }

    .textoreserva p {
        text-align: center;
        padding: 0 20px;
    }

    .textoreserva {
        width: 80%;
        margin-left: 10%;
    }

    .stepper {
        display: flex;
        justify-content: space-between;
        width: 80%;
        padding-left: 10%;
    }

    .line {
        width: 85%;
    }

    .form-container {
        width: 80%;
        margin: auto;
        margin-bottom: 2%;
    }

    .form-group label {
        font-size: 14px;
    }

    .form-group input,
    .form-group textarea {
        width: 100%;
    }
}

/* Móviles (max-width: 480px) */
@media screen and (max-width: 480px) {

    .intro-text h1 {
        font-size: 20px;
    }
    .textoreserva p {
        font-size: 18px;
    }
    .flecha img {
        width:70px;
        height: 70px;
    }
    .form-container {
        width: 80%;
        padding: 10px;
        margin-bottom: 4%;
    }
    .form-group input,
    .form-group textarea {
        width: 94%;
    }

    .form-actions {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}
