@font-face {
  font-family: "Montserrat";
  src: url(../font/Montserrat-VariableFont_wght.ttf);
}

body {
  font-family: Poppins, sans-serif;
  background-color: #d3e1eb;
  margin: 0;
  padding: 0;
}

.main-container {
  display: flex;
  height: auto;
  width: auto;
  background: #F3F3F3;
  border: 3px solid #4674aa;
  border-radius: 20px;
  align-items: center;
  justify-content:space-around;
  flex-direction: row;
  padding: 3%;
  margin: 3%;
  margin-left: 2%;
}
.actividad {
  color: rgb(0, 0, 0);
  padding: 10px;
  margin: 10px 0;
  font-size: 1.2em;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.color1 {
  background-color: #B0CFF1; /* Azul claro */
}

.color2 {
  background-color: #7AB3D7; /* Azul más oscuro */
}