body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .container {
    width: 140px;
    height: 1063px;
    position: relative;
    background: white;
  }
  
  .background {
    width: 19000px;
    height: 1025px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: #D3E1EB;
  }
  
  .circle {
    width: 81px;
    height: 79px;
    left: 52px;
    top: 28px;
    position: absolute;
    background: #7770C5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 9999px;
  }
  
  .user-icon {
    width: 34px;
    height: 31px;
    left: 76px;
    top: 52px;
    position: absolute;
  }
  
  .logout-circle {
    width: 80px;
    height: 80px;
    left: 1293px;
    top: 37px;
    position: absolute;
    background: #F5F5F5;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.75);
    border-radius: 9999px;
    border: 1px #7AB3D7 solid;
  }
  
  .logout-icon {
    width: 24px;
    height: 29px;
    left: 1325px;
    top: 63px;
    position: absolute;
  }
  
  .footer {
    width: 19000px;
    height: 143px;
    left: 0px;
    top: 920px;
    position: absolute;
    background: #7770C5;
  }
  
  .footer-text {
    width: 1009px;
    left: 215px;
    top: 982px;
    position: absolute;
    color: black;
    font-size: 16px;
    font-family: Inter;
    font-weight: 400;
    word-wrap: break-word;
  }
  
  .empty-div {
    width: 407px;
    height: 125px;
    left: 187px;
    top: 300px;
    position: absolute;
  }
  
  .brush-stroke-1 {
    width: 940px;
    height: 400px;
    left: 288px;
    top: 630px;
    position: absolute;
  }
  
  .brush-stroke-2 {
    width: 940px;
    height: 400px;
    left: 288px;
    top: 510px;
    position: absolute;
  }
  
  .add-monitor {
    width: 955px;
    height: 110px;
    left: 281px;
    top: 516px;
    position: absolute;
  }
  
  .add-monitor img {
    width: 955px;
    height: 114px;
    left: 0px;
    top: 0px;
    position: absolute;
  }
  
  .add-monitor-text {
    width: 455px;
    height: 17.65px;
    left: 137px;
    top: 44px;
    position: absolute;
    color: white;
    font-size: 36px;
    font-family: Montserrat;
    font-weight: 500;
    word-wrap: break-word;
  }
  
  .activity-status {
    width: 955px;
    height: 114px;
    left: 284px;
    top: 402px;
    position: absolute;
  }
  
  .activity-status img {
    width: 955px;
    height: 114px;
    left: 0px;
    top: 0px;
    position: absolute;
  }
  
  .activity-status-text {
    width: 533px;
    height: 18.30px;
    left: 127px;
    top: 46.41px;
    position: absolute;
    color: white;
    font-size: 36px;
    font-family: Montserrat;
    font-weight: 500;
    word-wrap: break-word;
  }
  
  .manage-activities {
    width: 948px;
    height: 134px;
    left: 288px;
    top: 268px;
    position: absolute;
  }
  
  .manage-activities img {
    width: 948px;
    height: 134px;
    left: 0px;
    top: 0px;
    position: absolute;
  }
  
  .manage-activities-text {
    width: 566.81px;
    height: 21.51px;
    left: 111.19px;
    top: 61.17px;
    position: absolute;
    color: white;
    font-size: 36px;
    font-family: Montserrat;
    font-weight: 500;
    word-wrap: break-word;
  }
  
  .rotated-image {
    width: 135px;
    height: 185px;
    left: 296px;
    top: 381px;
    position: absolute;
    transform: rotate(180deg);
    transform-origin: 0 0;
  }
  
  .empty-div-2 {
    width: 651px;
    height: 863px;
    left: 670px;
    top: 463px;
    position: absolute;
  }
  
  .manage-schedules {
    width: 962px;
    height: 128px;
    left: 288px;
    top: 152px;
    position: absolute;
  }
  
  .manage-schedules img {
    width: 962px;
    height: 128px;
    left: 0px;
    top: 0px;
    position: absolute;
  }
  
  .manage-schedules-text {
    width: 584.25px;
    height: 20.54px;
    left: 127.93px;
    top: 60.84px;
    position: absolute;
    color: white;
    font-size: 36px;
    font-family: Montserrat;
    font-weight: 500;
    word-wrap: break-word;
  }
  
  .schedule-icon {
    width: 93.68px;
    height: 73.48px;
    left: 674.91px;
    top: 44.25px;
    position: absolute;
  }
  
  .logo {
    width: 194px;
    height: 103px;
    left: 647px;
    top: 25px;
    position: absolute;
  }
  
  .small-icon {
    width: 89px;
    height: 59px;
    left: 953px;
    top: 778px;
    position: absolute;
  }
  
  .empty-div-3 {
    width: 100px;
    height: 100px;
    left: 646px;
    top: 210px;
    position: absolute;
  }
  
  .edit-campers {
    width: 455px;
    height: 60px;
    left: 423px;
    top: 788px;
    position: absolute;
    color: white;
    font-size: 36px;
    font-family: Montserrat;
    font-weight: 500;
    word-wrap: break-word;
  }
  
  .manage-groups {
    width: 455px;
    height: 17.65px;
    left: 416px;
    top: 672px;
    position: absolute;
    color: white;
    font-size: 36px;
    font-family: Montserrat;
    font-weight: 500;
    word-wrap: break-word;
  }
  
  .small-rectangle {
    width: 69px;
    height: 70px;
    padding-left: 5.75px;
    padding-right: 5.75px;
    padding-top: 17.50px;
    padding-bottom: 17.50px;
    left: 966px;
    top: 655px;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: inline-flex;
  }
  
  .inner-rectangle {
    width: 57.50px;
    height: 35px;
    background: white;
  }
  
  .small-image-1 {
    width: 77px;
    height: 78px;
  }
  
  .small-image-2 {
    width: 77px;
    height: 73px;
  }
  
  .small-image-3 {
    width: 46px;
    height: 49px;
  }